<div style="display: flex; flex-direction: column; gap: 6rem;">
	<form id="formMount">
		<div id="iframeMount"></div>
		<p id="errorMount"></p>
		<button type="button" id="btnSubmit">Submit</button>
	</form>

	<form id="chargeForm">
		<label style="display:block;" for="amount">Amount:</label>
		<input id="amount" name="amount" type="number" required />
		<button type="button" id="btn2">Charge Card</button>
	</form>
</div>
